.footer{
    padding: 40px 0;
    background-color: $white;
    box-shadow: $main-shadow;

    .footer-logo{
        text-align: center;

        .foot-logo-img{
            display: block;
            width: fit-content;
            margin: auto;
            margin-bottom: 20px;

            img{
                max-width: 140px;

                @media screen and (max-width:$screen-xs){
                    max-width: 110px;
                }
            }
        }

        .footer-info{
            color: $dark;
            font-size: 15px;
            line-height: 1.8;

            @media screen and (max-width:$screen-sm) {
                font-size: 14px;
                width: 350px;
            }

            @media screen and (max-width:$screen-xs) {
                width: auto;
            }

            margin: auto;
        }
    }

    .foot-content{
        .footer-head{
            margin-bottom: 25px;
            font-size: 17px;
            color: $black;
            font-weight: 600;

            @media screen and (max-width:$screen-sm) {
                margin-bottom: 15px;
            }

            @media screen and (max-width:$screen-xs) {
                font-size: 16px;
            }
        }

        .footer-links{
            .link{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 12px;
                width: fit-content;
                color: $dark;
                transition: $main-transition;
                font-size: 16px;

                &:hover{
                    #{$ltr} & {
                        transform: translateX(5px);
                    }
                    #{$rtl} & {
                        transform: translateX(-5px);
                    }
                    color: $main;
                }

                img{
                    max-width: 13px;
                }

                @media screen and (max-width:$screen-sm){
                    font-size: 15px;
                }

                @media screen and (max-width:$screen-xs) {
                }
            }
        }

        .app{
            display: flex;
            align-items: center;
            gap: 5px;
            flex-wrap: wrap;
            margin-top: 20px;

            .app-link{
                .img{
                    width: 135px;
                    height: 40px;
                    object-fit: cover;
                }
            }
        }
    }
}

.copy-right{
    padding: 18px;
    border-top: 1px solid $border-color;
    background-color: #fff;
    
    .text{
        font-size: 15px;
        text-align: center;
    }
}