@import "sass/variables", "sass/mixins", "sass/global" , "sass/components", "sass/navbar", "sass/footer";


// Home Slider
.home-carousel{
  .owl-dots{
    @include center;
    gap: 10px;
    position: absolute !important;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 3;
  
    .owl-dot{
        width: 18px;
        height: 8px;
        border-radius: 10px;
        opacity: .5;
        background-color: $white !important;
  
        @media screen and (max-width:$screen-md) {
            height: 7px;
            width: 15px;
        }
  
        &.active{
            width: 35px;
            opacity: 1;
  
            @media screen and (max-width:$screen-md) {
                width: 30px;
            }
        }
    }
    
  }
}

.home-item{
  position: relative;
  height: calc(100vh - 150px);


  @media screen and (max-width:$screen-lg) {
    height: 340px;
  }
  .home-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .4);
  }

}


// Brands carousel
.brands-carousel{
  background-color: #fff;
  // padding: 10px 0;

  .owl-stage-outer{
    padding: 10px 0;
  }
}

.brand-item{
  @include circle(120px);
  @include center;
  border: 1px solid $main;
  border-top-width: 4px;
  border-bottom-width: 0;
}

.client-item{
  @include circle(130px);
  @include center;
  background-color: #f9f9f9;
  box-shadow: $text-shadow;
}

.brand{
  @include center;
  flex-direction: column;
  gap: 14px;

  .brand-name{
    font-size: 16px;
    color: $black;
  }
}

.agency-item{
  width: 130px;
  height: 130px;
  @include center;
  position: relative;

  &.brand{
    flex-direction: column;
    gap: 8px;
  }

  &::after, &::before{
    position: absolute;
    content: '';
    width: 50%;
    height: 50%;
    border: 2px solid rgba($color: #000000, $alpha: .1);
    transition: $main-transition;
  }

  &::after{
    bottom: 0;
    @include dir-left(0);
    border-top: none;
    
    #{$ltr} & {
      border-right: none;
    }
    #{$rtl} & {
      border-left: none;
    }
  }
  
  &::before{
    top: 0;
    @include dir-right(0);
    border-bottom: none;

    #{$ltr} & {
      border-left: none;
    }
    #{$rtl} & {
      border-right: none;
    }
  }

  &:hover{
    &::after, &::before{
      width: 100%;
      height: 100%;
    }
  }
}

.brand-img {
  max-width: 90px;
  max-height: 100px;
  width: fit-content !important;
  margin: 0 auto;
  /* object-fit: cover; */
}


// car-card
.car-card{
  // box-shadow: $main-shadow;
  border-radius: 8px;
  overflow: hidden;

  .car-img{
    @include center;
    height: 200px;
    position: relative;
    .img{
      display: block;
      width: 90%;
      max-width: 100%;
      margin: 0 auto;
      vertical-align: middle;
    }
  }

  .content{
    padding: 20px;

    .car-name{
      font-size: 18px;
      color: $black;
      font-family: fontDemi;
      margin-bottom: 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .items{
      .item{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        height: 24px;

        &:last-child{
          margin-bottom: 0;
        }

        .ic{
          font-size: 14px;
          // color: $main;
        }


        .text{
          font-size: 15px;
          color: $black;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  .car-btn{
    height: 52px;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100%;
      background-color: $main;
    }


    .main-btn{
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
      transition: all .4s ease;

      &:hover{
        color: $white !important;
        // background-color: ;
        opacity: .9;
      }
    }

  }

  &:hover .car-btn .main-btn{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }


  &.offer{
    
    
    // background-color: #fefefe;
    box-shadow: unset;
    // border: 1px solid rgba($color: #000000, $alpha: .1);
    
    #{$ltr} & {
      border-radius: 5px 30px 5px 5px;
    }
    #{$rtl} & {
      border-radius: 30px 5px 5px;
    }

    .car-btn{
      padding: 0 15px 15px;
      height: auto;

      &::after{
        display: none;
      }

      .main-btn{
        position: unset;
        clip-path: unset;
        min-height: 46px;
        border-radius: 5px;
      }

    }
  }
}

.card-carousel{
  .owl-dots{
    .owl-dot{
      background-color: $main;

    }
  }
}

.open-filter{
  width: 42px;
  height: 42px;
  border-radius: 5px;
  background-color: $main;
  @include center;
  display: none;
  cursor: pointer;

  .img{
    max-width: 35px;
    max-height: 30px;
  }

  @media screen and (max-width:$screen-lg) {
    display: flex;
  }
}

.flex-card{
  .flex-1{
    @media screen and (max-width:$screen-lg) {
      position: fixed;
      top: 0;
      @include dir-left(0);
      width: 300px;
      height: 100%;
      background-color: $white;
      padding: 20px 12px;
      z-index: 1000;
      #{$ltr} & {
          transform: translateX(-150%);
      }
      #{$rtl} & {
          transform: translateX(150%);
      }

      transition: all .8s cubic-bezier(0.68, -0.30, 0.265, 1.3);

      &.open{
          transform: translateX(0) !important;
      }

      overflow-y: auto;
      overflow-x: clip;

      &::-webkit-scrollbar {
          width: 5px;
      }
      &::-webkit-scrollbar-track {
          background: transparent;
      }
      &::-webkit-scrollbar-thumb {
          border-radius: 25px;
          background-color: $main;
      }
    }
  }
}

// Page Header
.page-header{
  width: 100%;
  height: 360px;
  position: relative;
  z-index: 2;

  @media screen and (max-width:$screen-sm) {
    height: 250px;
  }

  .page-bg{
    position: absolute;
    top: 0;
    @include dir-left(0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
  
  &::after{
    position: absolute;
    content: '';
    top: 0;
    @include dir-left(0);
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .6);
    z-index: -1;
  }

  .container{
    height: 100%;
    width: 100%;
    @include center;

    .page-name{
      font-size: 26px;
      color: $white;
      padding-bottom: 12px;
      position: relative;
      width: fit-content;

      &::after{
        position: absolute;
        content: '';
        bottom: 0;
        background-color: $main;
        width: 80px;
        height: 3px;
        border-radius: 20px;
        left: 50%;
        transform: translateX(-50%);

      }
    }
  }
}


// services-items
.services-items{
  .service-item{
    background-color: $white;

    
    &:nth-child(even){
      background-color: #fbfbfb;

      .content{
        flex-direction: row;
      }
    }
    
    .content{
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 25px;

      @media screen and (max-width:$screen-lg) {
        flex-direction: column !important;
      }
    }

    .service-img{
      width: 400px;
      height: 280px;
      border-radius: 15px;
      object-fit: cover;
      flex-shrink: 0;

      @media screen and (max-width:$screen-xs) {
        width: 100%;
        height: 210px;
      }

    }

    .service-info{
      width: 100%;

      .service-num{
        font-size: 15px;
        color: $main;
        margin-bottom: 20px;
      }

      .service-name{
        font-size: 20px;
        color: $black;
        font-family: fontDemi;
        margin-bottom: 20px;
      }

      .service-desc{
        font-size: 15px;
        line-height: 1.9;
        color: #303030;
      }

    }
  }
}

// About
// .about-img{
//   @include circle(320px !important);
//   object-fit: cover;
// }


.about-section {
  .about-container{
    @include between;
    gap: 50px;

    @media screen and (max-width:$screen-lg) {
      flex-direction: column;
    }
    
    .about-info{
      // width: 500px;
      // flex-shrink: 0;
      .name{
        font-size: 16px;
        color: $main;
        margin-bottom: 20px;
      }

      .head{
        font-size: 28px;
        color: $black;
        margin-bottom: 20px;
        font-family: fontDemi;

        @media screen and (max-width:$screen-xs) {
          font-size: 20px;
        }
      }

      .desc{
        font-size: 16px;
        line-height: 1.8;
        color: $black;
      }
    }
  }
  
}


.about-logo-con{
  position: relative;
  width: 340px;
  height: 340px;
  flex-shrink: 0;


  @media screen and (max-width:$screen-xxs) {
    width: 300px;
    height: 300px;
  }

  &::after{
    content: '';
    position: absolute;
    @include circle(100%);
    border: 1px solid $main;
    top: -20px;
    @include dir-right(-20px);
    z-index: 5;
    display: none;
  }

  .about-logo{
    position: absolute;
    top: 50%;
    @include dir-left(-40px);
    @include circle(110px);
    @include center;
    z-index: 6;
    animation: bounceUp 3s infinite;
    background-color: $white;
    box-shadow: $main-shadow;
    
    @media screen and (max-width:$screen-sm) {
      @include dir-left(-10px);
      top: 65%;
      @include circle(100px);
    }

    .logo{
      max-width: 80px;
      max-height: 70px;
      object-fit: cover;
    }
  }

  .about-img{
    width: 340px !important;
    height: 340px !important;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    
    @media screen and (max-width:$screen-xxs) {
      width: 300px !important;
      height: 300px !important;
    }
  }

  .owl-dots{
    margin-top: 20px;
  }
}


@keyframes bounceUp {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
    }
    100%{
        transform: translateY(0px);
    }
}


// goal-item
.goal-item{
  // box-shadow: $main-shadow;
  // border: 1px solid rgba($color: #000000, $alpha: .1);
  padding: 30px 20px;
  border-radius: 20px;
  background-color: $white;

  .img{
    display: block;
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 15px;
  }

  .name{
    color: $black;
    font-size: 20px;
    font-family: fontDemi;
    margin-bottom: 15px;
  }

  .desc{
    font-size: 15px;
    color: $black;
  }
}


// Filter boxs
.boxs{
  overflow: hidden;
  .filter-item{
    display: block;
    width: 100%;
    padding: 14px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
    color: $black;
    font-size: 16px;
    transition: $main-transition;

    

    &:last-child{
      border: none;
    }

    &:hover{
      color: $main;
    }

    &.active{
      background-color: $main;
      color: $white;
    }
  }
}


// colors-head
.colors-head{
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 12px 15px;
  background-color: $main;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;

  .title{
    font-size: 16px;
    color: $white;
    font-family: fontDemi;
  }

  .colors{
    display: flex;
    align-items: center;
    gap: 12px;

    .color{
      display: block;
      // background-color: $main;
      @include circle(24px);
      // box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: .4);
      // box-shadow: 0px 0px 3px #c2000b;
      cursor: pointer;
      position: relative;
      
      &.active{
        &::after{
          position: absolute;
          content: '';
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: calc(100% + 10px);
          height: calc(100% + 10px);
          border-radius: 50%;
          border: 2px dashed $main;
          transition: $main-transition;
        }

      }
    }
  }
}

// car-imgs
.car-carousel{
  display: flex;
  gap: 10px;

  .img{
    object-fit: cover;
    height: 200px;
    border-radius: 5px;
  }

  .owl-dots{
    display: none !important;
  }
}

.car-imgs{
  .items{
    margin-top: 30px;
    padding: 0 25px;
  }
  .item{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: $black;
    font-size: 15px;
  }
}