@import "sass/variables", "sass/mixins", "sass/global" , "sass/components", "sass/navbar", "sass/footer";


// Home Slider
.home-item{
  position: relative;
  height: calc(100vh - 142px);
  .home-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .4);
  }

}


// Brands carousel
.brands-carousel{
  background-color: #fff;
  // padding: 10px 0;

  .owl-stage-outer{
    padding: 10px 0;
  }
}

.brand-item{
  @include circle(120px);
  @include center;
  border: 1px solid $main;
  border-top-width: 4px;
  border-bottom-width: 0;
}

.client-item{
  @include circle(130px);
  @include center;
  background-color: #f9f9f9;
  box-shadow: $text-shadow;
}


.agency-item{
  width: 130px;
  height: 130px;
  @include center;
  position: relative;

  &::after, &::before{
    position: absolute;
    content: '';
    width: 50%;
    height: 50%;
    border: 2px solid rgba($color: #000000, $alpha: .1);
    transition: $main-transition;
  }

  &::after{
    bottom: 0;
    @include dir-left(0);
    border-top: none;
    
    #{$ltr} & {
      border-right: none;
    }
    #{$rtl} & {
      border-left: none;
    }
  }
  
  &::before{
    top: 0;
    @include dir-right(0);
    border-bottom: none;

    #{$ltr} & {
      border-left: none;
    }
    #{$rtl} & {
      border-right: none;
    }
  }

  &:hover{
    &::after, &::before{
      width: 100%;
      height: 100%;
    }
  }
}

.brand-img {
  max-width: 90px;
  max-height: 100px;
  width: fit-content !important;
  margin: 0 auto;
  /* object-fit: cover; */
}


// car-card
.car-card{
  box-shadow: $main-shadow;
  border-radius: 8px;
  overflow: hidden;

  .car-img{
    @include center;
    height: 200px;
    position: relative;
    .img{
      display: block;
      width: 90%;
      max-width: 100%;
      margin: 0 auto;
      vertical-align: middle;
    }
  }

  .content{
    padding: 20px;

    .car-name{
      font-size: 18px;
      color: $black;
      font-family: fontDemi;
      margin-bottom: 12px;
    }

    .items{
      .item{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        &:last-child{
          margin-bottom: 0;
        }

        .ic{
          font-size: 14px;
          // color: $main;
        }


        .text{
          font-size: 15px;
          color: $black;
        }
      }
    }
  }

  .car-btn{
    height: 52px;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100%;
      background-color: $main;
    }


    .main-btn{
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
      transition: all .4s ease;

      &:hover{
        color: $white !important;
        // background-color: ;
        opacity: .9;
      }
    }

  }

  &:hover .car-btn .main-btn{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }


  &.offer{
    
    
    background-color: #fefefe;
    box-shadow: unset;
    border: 1px solid rgba($color: #000000, $alpha: .1);
    
    #{$ltr} & {
      border-radius: 5px 30px 5px 5px;
    }
    #{$rtl} & {
      border-radius: 30px 5px 5px;
    }

    .car-btn{
      padding: 0 15px 15px;
      height: auto;

      &::after{
        display: none;
      }

      .main-btn{
        position: unset;
        clip-path: unset;
        min-height: 46px;
        border-radius: 5px;
      }

    }
  }
}